:root{
    --white: #fafafa;
    --bg-color: #ffffff;
    --primary-color: #FF7B29;
    --secondary-color: #949494;
    --blue-color: #263FA3;
    --black-color: #000000;
    --dark-blue-color: #132742;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--white);
}

h1 {
    background-color: transparent;
}
